.footer-pad{
	padding-right: 10px;
}

img{
    height: auto;
    max-width: 100%;
}

.welcome {
	padding: 10px;
}

.table-cell{
	text-align:center;
}

.table-row{
	padding-left:25px;
	padding-right:25px;
}

.books-container{
	margin-left: 50px;
}

.books-author{
  font-weight: bold;
}

.flip-hor{
	transform: scaleY(-1);
}
