.footer-pad{
	padding-right: 10px;
}

img{
    height: auto;
    max-width: 100%;
}

.welcome {
	padding: 10px;
}

.table-cell{
	text-align:center;
}

.table-row{
	padding-left:25px;
	padding-right:25px;
}

.books-container{
	margin-left: 50px;
}

.books-author{
  font-weight: bold;
}

.flip-hor{
	transform: scaleY(-1);
}

div#rot-90 {
  -ms-transform: rotate(90deg); /* IE 9 */
  transform: rotate(90deg); /* Standard syntax */
}

.nav-item-style{
	text-decoration: none;
	color:black;

}

.nav-enlarge{
	font-size:16px;
}

.nav-enlarge:hover {
    -webkit-transform: scale(1.2);
}

 /* a:hover{ -webkit-transform: scale(1.2); }          font-size:40px;
*/
